@import "tailwindcss";

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: oklch(12.1% 0.005 285.823);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-sky-50);
  scroll-behavior: smooth;
}
